html{
    font-family: sans-serif;
}

.header{
    text-align: center;
    margin: auto;
}

.header_logo{
    width: 90px;
    height: auto:
}

.header_nav{
    background-color: black;
    display: none;
}     

.header_nav.show{
    display: block;
}

ul{
    margin:0;
}

#hamburguer{
    background-color: rgb(194, 100, 100);
    color: lightcoral;
    display: block;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    font-size: 25px;
}

.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    
}

.header_nav a{
    color: orange;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.header_nav a:hover{
    background-color: color-mix(in srgb, orange, green 50%);
    color:  lightcoral;
}

.fundo_main{
    background-image: url(imagens/fundo_header.jpg);
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 100vh;
}

footer{
    background-color: lightcoral;
    padding: 1rem;
    text-align: center;
}

.logos_footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tamanho{
    width: 2rem;
}

.texto_footer{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin: 0;
    padding-top: 2rem;
    color: black;
}

@media screen and (min-width: 768px){
    #hamburguer{
        display: none;
    }
    
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: lightcoral;
    }

    .header_logo{
        margin-left: 5px;
    }

    .header_nav{
        display: block;
    }

    .header_nav ul{
        margin-right: 5px;
        font-size: 10px;
    }

    .header_nav li{
        display: inline-block;
    }

    .header_nav a{
        border-radius: 5px;
    }
    .header_nav a:hover{
        background-color: orange;
        color: white;
    }
  
    #hamburguer{
        display: none;
    }
    
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: lightcoral;
    }

    .header_logo{
        margin-left: 5px;
    }

    .header_nav{
        display: block;
    }

    .header_nav ul{
        margin-right: 5px;
        font-size: 10px;
    }

    .header_nav li{
        display: inline-block;
    }

    .header_nav a{
        border-radius: 5px;
    }
    .header_nav a:hover{
        background-color: orange;
        color: white;

    }

    